<!DOCTYPE html>
<html>
<head>
  <title>Welcome to your To Do App Homepage</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Welcome to Your To Do Homepage</h1>
  <p>This is where you handle your to do tasks. You can navigate to the following pages:</p>
  <ul>
    <li><a href="/api/task/create/">Create a task</a></li>
    <li><a href="/tasks">Get all tasks</a></li>
  </ul>
</body>
</html>
