<!DOCTYPE html>
<html>
<head>
  <title>Welcome to To Do App Homepage</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Welcome to To Do App Homepage</h1>
  <p>This is the homepage of the To Do App. You can navigate to the following pages:</p>
  <ul>
    <li><a href="/api/register">Register</a></li>
    <li><a href="/api/login">Login</a></li>
  </ul>
</body>
</html>
